/*  your css code here. If applicable */
.insider{
	background-color:gray;
}
.insider #photo-heading{
	text-align:center;
	color:white;
	
}
.insider img{
	width:200px;
	border-radius:20%;
	margin:10px 10px 12px 19px;
}